.center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.card {
  background-image: linear-gradient(
    180deg,
    #151515,
    #050505
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 600px;
  max-width: 375px;
  min-width: 375px;-webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}

.card p {
  font-size: 1.2rem;
}